.background-img {
  position: absolute;
  width: 100vw;
  height: 90vh;
}

.img-shadow {
  position: absolute;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  box-shadow: -30px 30px 50px 40px black inset;
}