:root {
  --primery-color: whitesmoke;
}

.App {
  background-color: black;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.button-container {
  display: flex;
  position: relative;
}

.top-links {
  margin: 10px;
  text-decoration: none;
}