:root {
  --primery-color: whitesmoke;
}

#root {
  position: relative;
  z-index: 1;
}

.App {
  position: relative;
  z-index: 2;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.bar-container {
  display: flex;
  position: relative;
}

.top-links {
  margin: 10px;
  text-decoration: none;
}